@import 'guide.scss';

// Page Header
.header {
	@include flexbox (row, null, center, 50px);
	height: 10vh;
	padding: 0 40px;
}
// Navbar
.navbar__list {
	@include flexbox (row, null, null, 30px);
}
.navbar__item {
	font-size: 1.4rem;
	font-weight: 500;
	color: $medium-gray;
	&:hover {
		color: $almost-black;
		cursor: pointer;
	}
	a {
		&:hover {
			color: $almost-black;
			cursor: pointer;
		}
	}
}
.nav-link {
	padding-left: 10px;
}
.login {
	width: auto;
	margin-left: auto;
}
.login-btn {
	width: 90px;
	height: 35px;
	font-size: 1.4rem;
	font-weight: 500;
	color: $medium-gray;
	background-color: $almost-white;
	&:hover {
		color: $almost-black
	}
}
.register-btn {
	width: 90px;
	height: 35px;
	font-size: 1.4rem;
	font-weight: 500;
	color: $medium-gray;
	background-color: $almost-white;
	border: 2px solid $medium-gray;
	&:hover {
		color: $almost-black;
		border: 2px solid $almost-black;
	}
}

// Main Container
.main-wrapper {
	display: grid;
	grid-template-columns: 60% 40%;
	width: 100%;
	height: 90vh;
	padding-top: 20px;
}

// Principal Content
.principal-content{
	@include flexbox (column, center, start, 35px);
	padding-left: 10vw;
}
.principal-content__title {
	width: 70%;
	margin: 0;
	font-size: 6rem;
}
.principal-content__description {
	width: 65%;
	margin: 0;
	font-size: $p-size;
	font-weight: 500;
	color: $medium-gray;
	line-height: 1.4;
}
.learn-btn {
	width: 150px;
	height: 45px;
	font-size: 1.4rem;
	font-weight: $bold;
	color: $almost-white;
	background-color: $almost-black;
	&:hover {
		color: $almost-black;
		background-color: $almost-white;
		border: 2px solid $almost-black;
	}
}
.sponsors {
	@include flexbox (row, null, center, 25px);
	margin-top: 40px;
}

// Hero
.hero {
	width: 100%;
	height: 90%;
	background-image: url(../assets/img/image-hero-desktop.png);
	background-size: contain;
	background-repeat: no-repeat;
}

// Desktop Menu
.features--widget, .company--widget {
	@include flexbox (row, null, center);
	position: relative;
}
.features__list, .company__list {
	position: absolute;
	@include flexbox (column, start, null, 15px);
	top: +30px;
	right: 0;
	width: 160px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 4px rgba(20, 20, 20, 0.4);
	&:hover {
		color: $medium-gray;
	}
}
.features__list-item, .company__list-item {
	@include flexbox (row, null, center, 20px);
	a {
		&:hover {
			color: $almost-black;
		}
	}
	img {
		width: 18px;
		height: 18px;
	}
}
.company__list {
	width: 110px;
}

// Mobile Menu
.open-menu-icon {
	display: none;
}
.mobile__menu {
	display: none;
}
