@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  border-radius: 10px;
}
button:hover {
  cursor: pointer;
}

summary {
  list-style: none;
}

a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}
a:visited {
  color: hsl(0, 0%, 41%);
}

@media screen and (max-width: 540px) {
  body {
    position: relative;
    height: auto;
  }
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 10vh;
  padding: 0 40px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.navbar__item {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
}
.navbar__item:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.navbar__item a:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.nav-link {
  padding-left: 10px;
}

.login {
  width: auto;
  margin-left: auto;
}

.login-btn {
  width: 90px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
}
.login-btn:hover {
  color: hsl(0, 0%, 8%);
}

.register-btn {
  width: 90px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 41%);
}
.register-btn:hover {
  color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
}

.main-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
  height: 90vh;
  padding-top: 20px;
}

.principal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 35px;
  padding-left: 10vw;
}

.principal-content__title {
  width: 70%;
  margin: 0;
  font-size: 6rem;
}

.principal-content__description {
  width: 65%;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  line-height: 1.4;
}

.learn-btn {
  width: 150px;
  height: 45px;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
}
.learn-btn:hover {
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 8%);
}

.sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-top: 40px;
}

.hero {
  width: 100%;
  height: 90%;
  background-image: url(../assets/img/image-hero-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.features--widget, .company--widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.features__list, .company__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
  top: 30px;
  right: 0;
  width: 160px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 4px rgba(20, 20, 20, 0.4);
}
.features__list:hover, .company__list:hover {
  color: hsl(0, 0%, 41%);
}

.features__list-item, .company__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.features__list-item a:hover, .company__list-item a:hover {
  color: hsl(0, 0%, 8%);
}
.features__list-item img, .company__list-item img {
  width: 18px;
  height: 18px;
}

.company__list {
  width: 110px;
}

.open-menu-icon {
  display: none;
}

.mobile__menu {
  display: none;
}

/*# sourceMappingURL=desktop.css.map */
